@import '../../Styles/Colors';

.TopMenu {
  display: flex;
  align-items: center;
  min-width: 540px;
  .TopMenu-item {
    height: 62px;
    cursor: pointer;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    &:first-child {
      margin-left: 30px;
    }
    &:hover {
      background-color: $dark__blue;
      color: white;
    }
  }
}
