$homepage__gray: rgb(135, 135, 135);
$toolbar__orange: rgb(252, 192, 32);
$toolbar__blue: rgb(69, 187, 198);
$dark__blue: rgb(30, 175, 187);
$active__blue: rgb(27, 158, 168);
$dark__gray: rgb(95, 95, 95);
